/* style.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
paddingï¼š 60px;
text-align: center;
background: #1abc9c;
color: white;
font-size: 30px;
}